!!! 5
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/jquery-1.7.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/underscore-min.js')
    script(src='/js/client.js')
    script(id='list-item-template', type='text/template')
      li(data-url!='<%= url %>')
        span(style='float: right;') <%= date %>
        strong <%= title %>
        p <%= location %>
    script(id='detail-template', type='text/template')
      h1 <%= title %>
      br
      span <%= date %>
      br
      span
        <% if ('undefined' !== typeof email) { %>
        a(href!='mailto:<%= email %>') <%= email %>
        <% } else { %>
        <%= replyTo %>
        <% } %>
      br
      br
      <%= body %>
    title Aggro Craig
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        a.brand(href='/') AggroCraig
        ul.nav
          li.active
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/contact') Contact
    .container-fluid
      .span3
        form#search
          input#query(type='text')
          //input(type='submit', value='go')
      .span5
        span#result-count 0
        span  results
        ul#results
      .span8
        #detail